<nav class="navbar">
  <div class="container-fluid">
    <a class="vacation managemet system"
    href="#">Vacation Management System</a>
    <button class="navbar-toggler"
    type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input class="form-control me-2"
          type="search" placeholder="Search by email@"
          aria-label="Search">
        <button class="btn btn-outline-success"
          type="submit">Search</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle"
            routerLink="/employees"
            href="#" id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Employees
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"
              routerLink="/employees"
              href="#">All</a>
            </li>
            <li><a class="dropdown-item"
              routerLink="/employees/add"
              href="#">Add</a>
            </li>
            <li><a class="dropdown-item"
              routerLink="/employees/update"
              href="#">Update</a>
            </li>
            <li><a class="dropdown-item"
              routerLink="/employees/delete"
              href="#">Delete</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active"
          aria-current="page"
          routerLink="/roles"
          href="#">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="vacations"
          href="#">Vacations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
