<form>
  <div class="search-group">
    <label for="inputStartDate"
           class="form-label">Vacation stard date</label>
    <input type="startDate"
           class="form-control"
           id="inputStartdate"
           placeholder="Write here">
  </div>
  <div class="search-group">
    <label for="inputEndDate"
          class="form-label">Vacation end date</label>
    <input type="endDate"
           class="form-control"
           id="inputEndDate"
           placeholder="Write here">
  </div>
  <button type="submit"
          class="btn btn-primary">Submit</button>
</form>
